@import "./reset";

/* Color Theme Swatches in Hex */
$fel-donkergroen: #15bf70;
$fel-midgroen: #14a662;
$midgroen: #56bf8e;
$fel-lichtgroen: #8fd9b6;
$lichtgroen: #d5f2e2;

body {
  font-family: "Raleway", sans-serif;
  background-color: $lichtgroen;
}

.app {
  padding: 20px;
  &__title {
    font-size: 3em;
    text-align: center;
    padding: 30px;
  }
}

.songlist {
  width: 100%;
  &__header {
    background-color: $fel-donkergroen;
    color: white;
  }

  & td,
  th {
    padding: 15px;
  }

  &__title {
    font-weight: bold;
    font-size: 1.3rem;
    text-align: left;
  }

  &__row {
    background-color: $fel-lichtgroen;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  &__item {
  }
}

.songform {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;

  &__button {
    padding: 10px 30px;
    color: white;
    margin-left: 30px;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    border-radius: 2px;
    text-shadow: 0px 0px 0px transparent;
    background-color: $fel-midgroen;
  }

  &__field {
    padding: 5px;
    margin: 0px 5px;
  }
}
